feeds.talonvoice.com/static/* {
    root * /home/aegis/feeds/server
    file_server
}

feeds.talonvoice.com/audio/* {
    root * /data
    file_server
}

feeds.talonvoice.com {
    reverse_proxy localhost:5005
}
