body {
  margin: 0 1rem;
}

h3, h4 {
  margin-bottom: 0;
}
.feed-list {
  margin: 0;
  padding-left: 1rem;
}
.feed-list > span {
  font-style: italic;
}

.feed-help > p {
  margin-bottom: 0;
}
.feed-help > ul {
  margin: 0;
  list-style-type: none;
  padding: 0 1rem;
}

#entries, .transcriptions {
  padding: 0;
}

#entries li, .custom-entry {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0.25rem 0;
  border-top: 1px dashed #ccc;
}

#entries li li:first-child {
  border: none;
}

.message {
  padding-left: 1rem;
  line-height: 1.5rem;
  width: 100%;
  max-width: 100ex;
}

input[type=text] {
  margin-left: 1ex;
  flex-grow: 1;
}

form {
  display: flex;
}

form, audio {
  width: 100%;
}

.buttons {
  font-size: 1.5rem;
}

.button {
  cursor: pointer;
  opacity: 0.5;
}

.button:hover, .button.active {
  opacity: 1;
}

.transcription-text {
  padding-left: 0.25rem;
}

.source-icon {
  padding-left: 0.25rem;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1.5em;
}

.score {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 4ex;
  text-align: right;
}

time {
  font-family: monospace;
  display: block;
  height: 1.5rem;
  line-height: 1.5rem;
}

#alert-box {
  position: fixed;

  /* center */
  left: 50%;
  transform: translate(-50%);

  max-width: 60ex;
  top: 2em;

  background: #fbfcc2;
  border: 2px solid #fcc3c2;
  padding: 1ex;

}
