<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/{{ 'app.css'|cachebust }}">
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script>
      const pageSettings = {
        feedId: {{ feed_id|tojson|safe }},
        lastTimestamp: {{ last_timestamp|tojson|safe }},
      }
    </script>
    <script src="/static/{{ 'app.js'|cachebust }}"></script>
    <title>Feed - {{ feed.name }}</title>
  </head>
  <body>
    <h1>Feed - {{ feed.name }}</h1>
    <a href="/">&lt- list</a>

    <p>Help us improve our transcriptions! Click the buttons to let us know:</p>
    <ul>
      <li>🔊 to listen and fix a transcription</li>
      <li>👍 if a transcription is accurate</li>
      <li>👎 if a transcription is inaccurate</li>
    </ul>

    <ul id="entries">
      {% for c in calls %}
        <li class="call" id="call-{{ c['_id'] }}" data-id="{{ c['_id'] }} ">
            <time>{{ c['ts'].strftime('%-m/%d/%Y, %H:%M:%S') }}</time>
            {# <span class="audio"><audio controls src="{{ c.audio_url }}" preload="none"></audio></span> #}
            <span class="message" data-id="{{ c['transcriptions'][0]['_id'] }}">
                {{ c['transcriptions'][0]['text'] }}
            </span>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
